#以'#'开始的行，被视为注释.                                                                                         

#忽略的目录
/cpld/Counter/db
/cpld/Counter/incremental_db
/cpld/Counter/output_files
/cpld/Counter/simulation

/cpld/Smg/db
/cpld/Smg/incremental_db
/cpld/Smg/output_files
/cpld/Smg/simulation

/fpga/run_flash_led/db
/fpga/run_flash_led/incremental_db
/fpga/run_flash_led/output_files
/fpga/run_flash_led/simulation

/fpga/run_led/db
/fpga/run_led/incremental_db
/fpga/run_led/output_files
/fpga/run_led/simulation

*.*
!.gitignore
!*.s
!*.asm
!*.c
!*.cpp
!*.h

#Quartus文件
!*.v
!*.qpf
!*.qsf
!*.tcl
!*.vwf

#STM32CubeMX工程文件
!*.ioc

#流程图
!*.ddd

#VC文件
!*.sln
!*.vcxproj
!*.vdproj

!*.bmp
!*.rc
!*.rc2
!*.ico
!*.ini

!*.aps

!*.txt


#Keil工程文件
!*.uvproj
!*.uvopt
!*.Uv2
!*.Opt
!*.ini
!*._ia


#IAR工程文件
!*.ewt
!*.ewd
!*.ewp
!*.eww


#Qt文件
!*.pro
!*.qss
!*.qrc
!*.rc
!*.png
!*.user
!*.ico


#忽略所有生成的 html文件,
#*.html

#foo.html是手工维护的，所以例外.
#!foo.html

# 忽略所有.o和 .a文件.
#*.[oa]



 
